# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# paid assets
Assets/TirGames/*
Assets/VideoGlitches/*
Assets/Gamemaster Audio - Pro Sound Collection/*
Assets/Horror Sfx/*
Assets/RDL/*
Assets/Books/*
Assets/KeysPack/*
Assets/NatureStarterKit2/*
Assets/Wispy Sky/*

# sounds and music
Assets/Audio/*